.item {
  max-width: 608px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.wrapper {
  display: flex;
  align-items: center;
}

.iconWrapper {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 100px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background: linear-gradient(#1c1c21, #1c1c21) content-box,
    linear-gradient(#4c4cff, #801ab2) border-box;
}

.image {
  width: 112px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}