.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 40px 0 0;
  padding: 0;
  max-width: 860px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  height: 464px;
  width: 8px;
  background-color: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585AD;
}
.wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}