.section {
  display: flex;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  /* height: 100%; */
}

.container {
  display: flex;
  /* max-width: 600px;
  width: 100%; */
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.list {
  max-height: 42vh;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list::-webkit-scrollbar {
  height: 464px;
  width: 8px;
  background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total {
  display: flex; 
  gap: 8px; 
  align-items: center;
}